@media screen and (max-width: 400px) {
  /*Main fix for out of box start*/
  main .last-section .ticket-prices .ticket {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket .flex-boxes h2 {
    font-size: 40px !important;
  }
  main .last-section .subscribe form {
    width: 100%;
  }
  main .last-section .works-card aside img {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: 200px;
  }
  main .last-section .works-card .container {
    width: 100px;
  }
  main .mainAbout .photo img {
    width: 100%;
  }
  footer .goingCenter .top .forth .last-top a button {
    width: 100%;
  }
  main .mainAbout .list .list1 {
    width: 100%;
  }
  main .snackMain .makeCenter .photoImg img {
    width: 100%;
  }
  main .contactMain .makeCenter .list .left form div {
    width: 100%;
  }
  main .contactMain .makeCenter .list .right span {
    margin-left: 0px;
  }
  /*Main fix for out of box end*/
  header .top .left {
    width: 100%;
    height: 50px;
    text-align: center;
  }
  header .top .right {
    width: 100%;
    height: 50px;
  }
  header .top .right ul {
    padding: 0px;
  }
  header .top .right ul li a {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }
  header .bottom .left {
    width: 60%;
    float: left;
  }
  header .bottom .right {
    width: 40%;
    float: right;
  }
  main .banner-area {
    height: 700px;
  }
  main .banner-area .text-area {
    top: 220px;
  }
  main .banner-area .text-area h1 {
    font-size: 40px;
  }
  main .banner-area .text-area p {
    font-size: 20px;
  }
  main .cards {
    height: 1600px;
  }
  main .cards .card-area h2 {
    padding-top: 30px;
    text-align: center;
  }
  main .cards .card-area .flex-boxs {
    display: inline-block;
    width: 100%;
  }
  main .cards .card-area .card {
    width: 49%;
    display: inline-block;
    height: 300px;
  }
  main .cards .card-area .card .bottom h3 {
    font-size: 25px;
    font-weight: lighter;
  }
  main .cards .card-area .card .bottom p {
    font-size: 15px;
  }
  main .cards .card-area .card #goingDown img {
    margin-top: 0px;
  }
  main .cards .card-area .card #goingDown h3 {
    margin-top: 18px;
    font-size: 21px;
  }
  main .cards .card-area .card #goingDown p {
    margin-top: 12px;
  }
  main .cards .center-button {
    margin-top: 30px;
  }
  main .cards .tracks h2 {
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
  }
  main .cards .tracks .cards-track .left {
    width: 50%;
    height: 270px;
    display: inline-block;
  }
  main .cards .tracks .cards-track .middle {
    width: calc(50% - 5px);
    position: absolute;
    height: 270px;
    display: inline-block;
  }
  main .cards .tracks .cards-track .right {
    border: none;
    width: 100%;
    border-top: 1px solid white;
  }
  main .cards .tracks .cards-track h3 {
    font-size: 25px;
  }
  main .cards .tracks .cards-track aside .trailer {
    width: 100%;
  }
  main .cards .tracks .cards-track aside ul {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  main .last-section {
    height: 1800px;
  }
  main .last-section .head-text {
    padding-top: 30px;
  }
  main .last-section .works-card {
    width: 49%;
    display: inline-block;
  }
  main .last-section .makeCenter .flex-boxes {
    display: inline-block;
  }
  main .last-section .works-card .container {
    width: 120px;
  }
  main .last-section .works-card .top {
    margin-top: 30px;
  }
  main .last-section .works-card .bottom h2 {
    font-size: 21px;
  }
  main .last-section .makeCenter {
    margin: auto;
  }
  main .last-section .ticket-prices .makeCenter {
    margin: 50px auto;
  }
  main .last-section .makeCenter .flex-boxes {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket .text .texts {
    width: 32%;
    display: inline-block;
  }
  main .last-section .ticket-prices .ticket .text .texts h3 {
    font-size: 18px;
    font-weight: 200;
  }
  main .last-section .ticket-prices .makeCenter .ticket .text .makeCenter {
    margin: auto;
  }
  main .last-section .ticket-prices .ticket .text .texts {
    height: 60px;
  }
  main .last-section .ticket-prices .makeCenter .ticket .text .makeCenter h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
  main .last-section .ticket-prices .ticket {
    height: 300px;
    width: 356px;
  }
  main .last-section .ticket-prices .ticket svg {
    margin-top: 0px;
    height: 30px;
    width: 356px;
  }
  main .last-section .ticket-prices .ticket svg g {
    width: 360px;
  }
  main .last-section .iceCream .makeCenter {
    width: 100%;
    height: 500px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream h2 {
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .myline2 {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text h1 {
    font-size: 20px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    width: 90%;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    margin-left: 10px;
  }
  main .last-section .iceCream .makeCenter .middle {
    width: 100px;
    height: 0px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text {
    width: 132px;
  }
  main .last-section .iceCream .makeCenter {
    width: 90%;
    margin: auto;
  }
  main .last-section .iceCream {
    background-color: #0e0a48;
    height: 500px;
  }
  main .last-section .iceCream .makeCenter aside {
    height: 500px;
  }
  main .last-section .subscribe {
    position: absolute;
    width: 100%;
    top: 4100px;
    background-color: #0e0a48;
  }
  main .last-section .subscribe h2 {
    padding-top: 50px;
    font-size: 21px;
  }
  main .last-section .subscribe p {
    font-size: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  main .last-section .subscribe form {
    width: 90%;
    margin: auto;
  }
  main .last-section .subscribe form input {
    width: 100%;
  }
  main .last-section .subscribe {
    margin: 150px auto 0px;
    height: 450px;
  }
  footer .goingCenter {
    padding-top: 0px;
    height: 100%;
  }
  footer .goingCenter .top .first h2 a {
    font-size: 20px;
  }
  footer .goingCenter .top .second h2 {
    font-size: 20px;
  }
  footer .goingCenter .top .third h2 {
    font-size: 26px;
  }
  footer .goingCenter .top .first p {
    font-size: 11px;
  }
  footer .goingCenter .top .second ul li a {
    font-size: 15px;
  }
  footer .goingCenter .top .third p {
    font-size: 14px;
  }
  footer .goingCenter .top .forth .last-bottom ul {
    padding: 0px;
    margin-top: 50px;
  }
  footer .goingCenter .top .forth .last-bottom ul li {
    margin-left: 3px;
    margin-right: 5px;
  }
  footer {
    height: 400px;
  }
  footer .goingCenter .bottom p {
    margin: 0px;
  }
  footer .goingCenter .bottom {
    height: 50px;
  }
  main .BannerArea {
    height: 330px;
  }
  main .mainAbout {
    height: 1350px;
  }
  main .mainAbout .text p {
    font-size: 15px;
  }
  main .mainAbout .list .list1 {
    width: 50%;
    padding: 20px;
  }
  main .mainAbout .list .list2 {
    width: 50%;
    padding: 20px;
  }
  main .mainAbout .list .list1 h2 {
    font-size: 25px;
  }
  main .mainAbout .list .list1 p {
    font-size: 13px;
  }
  main .mainAbout .list .list2 ul {
    margin-top: 105px;
  }
  main .mainAbout .list .list2 ul li {
    font-size: 13px;
  }
  main .musicMain {
    height: 1460px;
  }
  main .musicMain .makeCenter .list1 .makeCenters {
    padding-left: 10px;
    padding-top: 20px;
  }
  main .musicMain .makeCenter .list1 .left .makeCenters span {
    width: calc(100% - 10%);
    font-size: 35px;
  }
  main .musicMain .makeCenter .list2 {
    height: auto;
    padding: 0px;
  }
  main .musicMain .makeCenter .list2 .list-card .name h2 {
    font-size: 14px;
  }
  main .musicMain .makeCenter .list2 .list-card .name p {
    font-size: 12px;
  }
  main .musicMain .makeCenter .list2 .list-card .buyButton {
    width: 225px;
    height: 26px;
  }
  main .musicMain .makeCenter .list2 .list-card .buyButton button {
    height: 100%;
  }
  main .musicMain .makeCenter .list2 .list-card .time {
    width: 40px;
  }
  main .musicMain .makeCenter .list2 .list-card .time span {
    font-size: 25px;
  }
  main .musicMain .makeCenter .list2 .list-card .time .date p {
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  main .musicMain .makeCenter .list2 .list-card .time .date .toppeer {
    margin-top: 5px;
  }
  main .musicMain .makeCenter .list2 #makeBorder {
    border-bottom: 0px;
  }
  main .snackMain .makeCenter p {
    font-size: 15px;
  }
  main .snackMain .makeCenter .lists article {
    padding: 30px 20px;
  }
  main .snackMain .makeCenter .lists .list2 {
    padding: 30px 10px;
  }
  main .snackMain .makeCenter .lists h2 {
    font-size: 20px;
  }
  main .snackMain .makeCenter .lists ul li span {
    font-size: 15px;
  }
  main .snackMain .makeCenter {
    height: 800px;
  }
  main .snackMain .makeCenter .photoImg {
    left: 60px;
    right: 0px;
  }
  main .snackMain .makeCenter .photoImg img {
    width: 250px;
  }
  footer .goingCenter .top {
    height: 60%;
  }
  footer .goingCenter {
    padding-top: 20px;
  }
  footer .goingCenter .myline2 {
    margin-top: 40px;
  }
  main .contactMain .makeCenter p {
    font-size: 15px;
  }
  main .contactMain .makeCenter .list .right {
    width: 30%;
  }
  main .contactMain .makeCenter .list .left {
    width: 70%;
    padding: 10px;
  }
  main .contactMain .makeCenter .list .right span {
    font-size: 13px;
    margin-left: 2px;
  }
  main .contactMain {
    height: 1900px;
  }
  main .contactMain .contactMap .makeCenter h2 {
    font-size: 25px;
    margin-top: 30px;
  }
  #defaultFooter {
    margin-top: 600px;
  }
}
@media screen and (max-width: 700px) and (min-width: 401px) {
  /*Main fix for out of box start*/
  main .last-section .ticket-prices .ticket {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket .flex-boxes h2 {
    font-size: 40px !important;
  }
  main .last-section .subscribe form {
    width: 100%;
  }
  main .last-section .works-card aside img {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: 200px;
  }
  main .last-section .works-card .container {
    width: 100px;
  }
  main .mainAbout .photo img {
    width: 100%;
  }
  footer .goingCenter .top .forth .last-top a button {
    width: 100%;
  }
  main .mainAbout .list .list1 {
    width: 100%;
  }
  main .snackMain .makeCenter .photoImg img {
    width: 100%;
  }
  main .contactMain .makeCenter .list .left form div {
    width: 100%;
  }
  main .contactMain .makeCenter .list .right span {
    margin-left: 0px;
  }
  /*Main fix for out of box end*/
  header .top .left {
    width: 100%;
    height: 50px;
    text-align: center;
  }
  header .top .right {
    width: 100%;
    height: 50px;
  }
  header .top .right ul {
    padding: 0px;
    text-align: center;
  }
  header .top .right ul li a {
    display: flex;
    justify-content: space-between;
  }
  header .bottom .left {
    width: 60%;
    float: left;
  }
  header .bottom .right {
    float: right;
  }
  main .banner-area {
    height: 700px;
  }
  main .banner-area .text-area {
    top: 220px;
  }
  main .banner-area .text-area h1 {
    font-size: 40px;
  }
  main .banner-area .text-area p {
    font-size: 20px;
  }
  main .cards {
    height: calc(100% - 2000px);
    padding-bottom: 50px;
  }
  main .cards .card-area h2 {
    padding-top: 30px;
    text-align: center;
  }
  main .cards .card-area .flex-boxs {
    display: inline-block;
    width: 100%;
  }
  main .cards .card-area .card {
    width: 49%;
    display: inline-block;
    height: 50%;
  }
  main .cards .card-area .card .bottom h3 {
    font-size: 25px;
    font-weight: lighter;
  }
  main .cards .card-area .card .bottom p {
    font-size: 15px;
  }
  main .cards .card-area .card #goingDown img {
    margin-top: 0px;
  }
  main .cards .card-area .card #goingDown h3 {
    margin-top: 18px;
    font-size: 21px;
  }
  main .cards .card-area .card #goingDown p {
    margin-top: 12px;
  }
  main .cards .center-button {
    margin-top: 30px;
  }
  main .cards .showtime {
    width: 30%;
  }
  main .cards .tracks h2 {
    margin-top: 30px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
  }
  main .cards .tracks .cards-track .left {
    width: 50%;
    height: 270px;
    display: inline-block;
  }
  main .cards .tracks .cards-track .middle {
    width: calc(50% - 5px);
    position: absolute;
    height: 270px;
    display: inline-block;
  }
  main .cards .tracks .cards-track .right {
    border: none;
    width: 100%;
    border-top: 1px solid white;
  }
  main .cards .tracks .cards-track h3 {
    font-size: 25px;
  }
  main .cards .tracks .cards-track aside .trailer {
    width: 100%;
  }
  main .cards .tracks .cards-track aside ul {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  main .last-section {
    height: 1800px;
  }
  main .last-section .head-text {
    padding-top: 30px;
  }
  main .last-section .works-card {
    width: 49%;
    display: inline-block;
  }
  main .last-section .makeCenter .flex-boxes {
    display: inline-block;
  }
  main .last-section .works-card .container {
    width: 120px;
  }
  main .last-section .works-card .top {
    margin-top: 30px;
  }
  main .last-section .works-card .bottom h2 {
    font-size: 21px;
  }
  main .last-section .makeCenter {
    margin: auto;
  }
  main .last-section .ticket-prices .makeCenter {
    margin: 50px auto;
  }
  main .last-section .makeCenter .flex-boxes {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket .text .texts {
    width: 32%;
    display: inline-block;
  }
  main .last-section .ticket-prices .ticket .text .texts h3 {
    font-size: 18px;
    font-weight: 200;
  }
  main .last-section .ticket-prices .makeCenter .ticket .text .makeCenter {
    margin: auto;
  }
  main .last-section .ticket-prices .ticket .text .texts {
    height: 60px;
  }
  main .last-section .ticket-prices .makeCenter .ticket .text .makeCenter h2 {
    margin-top: 0px;
    padding-top: 0px;
  }
  main .last-section .ticket-prices .ticket {
    height: 300px;
    width: 356px;
  }
  main .last-section .ticket-prices .ticket svg {
    margin-top: 0px;
    height: 30px;
    width: 356px;
  }
  main .last-section .ticket-prices .ticket svg g {
    width: 360px;
  }
  main .last-section .iceCream .makeCenter {
    width: 100%;
    height: 500px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream h2 {
    font-size: 21px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .myline2 {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text h1 {
    font-size: 20px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    width: 90%;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    margin-left: 10px;
  }
  main .last-section .iceCream .makeCenter .middle {
    width: 100px;
    height: 0px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text {
    width: 132px;
  }
  main .last-section .iceCream .makeCenter {
    width: 90%;
    margin: auto;
  }
  main .last-section .iceCream {
    background-color: #0e0a48;
    height: 500px;
  }
  main .last-section .iceCream .makeCenter aside {
    height: 500px;
  }
  main .last-section .subscribe {
    position: absolute;
    width: 100%;
    top: 4100px;
    background-color: #0e0a48;
  }
  main .last-section .subscribe h2 {
    padding-top: 50px;
    font-size: 21px;
  }
  main .last-section .subscribe p {
    font-size: 15px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  main .last-section .subscribe form {
    width: 90%;
    margin: auto;
  }
  main .last-section .subscribe form input {
    width: 100%;
  }
  main .last-section .subscribe {
    margin: 150px auto 0px;
    height: 450px;
  }
  footer .goingCenter {
    padding-top: 0px;
    height: 100%;
  }
  footer .goingCenter .top .first h2 a {
    font-size: 20px;
  }
  footer .goingCenter .top .second h2 {
    font-size: 20px;
  }
  footer .goingCenter .top .third h2 {
    font-size: 26px;
  }
  footer .goingCenter .top .first p {
    font-size: 11px;
  }
  footer .goingCenter .top .second ul li a {
    font-size: 15px;
  }
  footer .goingCenter .top .third p {
    font-size: 14px;
  }
  footer .goingCenter .top .forth .last-bottom ul {
    padding: 0px;
    margin-top: 50px;
  }
  footer .goingCenter .top .forth .last-bottom ul li {
    margin-left: 3px;
    margin-right: 5px;
  }
  footer {
    height: 400px;
  }
  footer .goingCenter .bottom p {
    margin: 0px;
  }
  footer .goingCenter .bottom {
    height: 50px;
  }
  main .BannerArea {
    height: 330px;
  }
  main .mainAbout {
    height: 1350px;
  }
  main .mainAbout .text p {
    font-size: 15px;
  }
  main .mainAbout .list .list1 {
    width: 50%;
    padding: 20px;
  }
  main .mainAbout .list .list2 {
    width: 50%;
    padding: 20px;
  }
  main .mainAbout .list .list1 h2 {
    font-size: 25px;
  }
  main .mainAbout .list .list1 p {
    font-size: 13px;
  }
  main .mainAbout .list .list2 ul {
    margin-top: 105px;
  }
  main .mainAbout .list .list2 ul li {
    font-size: 13px;
  }
  main .musicMain {
    height: 1460px;
  }
  main .musicMain .makeCenter .list1 .makeCenters {
    padding-left: 10px;
    padding-top: 20px;
  }
  main .musicMain .makeCenter .list1 .left .makeCenters span {
    width: calc(100% - 10%);
    font-size: 35px;
  }
  main .musicMain .makeCenter .list2 {
    height: auto;
    padding: 0px;
  }
  main .musicMain .makeCenter .list2 .list-card .name h2 {
    font-size: 14px;
  }
  main .musicMain .makeCenter .list2 .list-card .name p {
    font-size: 12px;
  }
  main .musicMain .makeCenter .list2 .list-card .buyButton {
    width: 225px;
    height: 26px;
  }
  main .musicMain .makeCenter .list2 .list-card .buyButton button {
    height: 100%;
  }
  main .musicMain .makeCenter .list2 .list-card .time {
    width: 40px;
  }
  main .musicMain .makeCenter .list2 .list-card .time span {
    font-size: 25px;
  }
  main .musicMain .makeCenter .list2 .list-card .time .date p {
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  main .musicMain .makeCenter .list2 .list-card .time .date .toppeer {
    margin-top: 5px;
  }
  main .musicMain .makeCenter .list2 #makeBorder {
    border-bottom: 0px;
  }
  main .snackMain .makeCenter p {
    font-size: 15px;
  }
  main .snackMain .makeCenter .lists article {
    padding: 30px 20px;
  }
  main .snackMain .makeCenter .lists .list2 {
    padding: 30px 10px;
  }
  main .snackMain .makeCenter .lists h2 {
    font-size: 20px;
  }
  main .snackMain .makeCenter .lists ul li span {
    font-size: 15px;
  }
  main .snackMain .makeCenter {
    height: 800px;
  }
  main .snackMain .makeCenter .photoImg {
    left: 60px;
    right: 0px;
  }
  main .snackMain .makeCenter .photoImg img {
    width: 250px;
  }
  footer .goingCenter .top {
    height: 60%;
  }
  footer .goingCenter {
    padding-top: 20px;
  }
  footer .goingCenter .myline2 {
    margin-top: 40px;
  }
  main .contactMain .makeCenter p {
    font-size: 15px;
  }
  main .contactMain .makeCenter .list .right {
    width: 30%;
  }
  main .contactMain .makeCenter .list .left {
    width: 70%;
    padding: 10px;
  }
  main .contactMain .makeCenter .list .right span {
    font-size: 13px;
    margin-left: 2px;
  }
  main .contactMain {
    height: 1900px;
  }
  main .contactMain .contactMap .makeCenter h2 {
    font-size: 25px;
    margin-top: 30px;
  }
  #defaultFooter {
    margin-top: calc(100% + 220px);
  }
  main .last-section .subscribe {
    display: inline-block;
    margin-top: calc(100% - 200px);
  }
  main .last-section .iceCream {
    height: calc(100% - 500px);
  }
  main .last-section .subscribe h2 {
    padding-top: calc(100% - 400px - 10%);
  }
  main .iceCream .makeCenter .cardIcecream {
    width: 100%;
  }
  main .last-section .iceCream .makeCenter .right {
    float: right;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: calc(100px + 10% - 2px);
  }
  main .last-section .iceCream .makeCenter .cardIcecream h2 {
    padding-top: 50px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    margin-left: 0px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    left: calc(100% - 65%);
  }
  #defaultFooter {
    margin-top: calc(100% + 220px);
  }
  main .mainAbout {
    height: calc(100% + 5px);
    padding-bottom: 5px;
  }
  main .contactMain .makeCenter .list .right span {
    margin-left: 10px;
  }
  main .musicMain .makeCenter .list2 .list-card .buyButton {
    width: unset;
    float: right;
  }
  main .snackMain .makeCenter .photoImg {
    left: calc(100% - 80%);
  }
}
@media screen and (max-width: 1099px) and (min-width: 701px) {
  /*Main fix for out of box start*/
  main .last-section .ticket-prices .ticket {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket .flex-boxes h2 {
    font-size: 40px !important;
  }
  main .last-section .subscribe form {
    width: 100%;
  }
  main .last-section .works-card aside img {
    width: 100px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: 200px;
  }
  main .last-section .works-card .container {
    width: 100px;
  }
  main .mainAbout .photo img {
    width: 100%;
  }
  footer .goingCenter .top .forth .last-top a button {
    width: 100%;
  }
  main .mainAbout .list .list1 {
    width: 100%;
  }
  main .snackMain .makeCenter .photoImg img {
    width: 100%;
  }
  main .contactMain .makeCenter .list .left form div {
    width: 100%;
  }
  main .contactMain .makeCenter .list .right span {
    margin-left: 0px;
  }
  /*Main fix for out of box end*/
  main .cards .card-area .card .top img {
    height: 100%;
  }
  main .cards .card-area .card {
    margin-right: 5px;
  }
  main .cards .center-button {
    padding-top: 60px;
  }
  main .cards {
    height: calc(100% - 1100px);
  }
  main .cards .tracks .cards-track aside {
    width: 32%;
  }
  main .cards .tracks .cards-track h3 {
    font-size: calc(20% + 20px);
  }
  main .cards .tracks .cards-track .trailer span {
    font-size: 15px;
  }
  main .cards .tracks .cards-track ul {
    text-align: center;
  }
  main .last-section .ticket-prices .ticket svg {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket svg {
    height: auto;
  }
  main .last-section .iceCream .makeCenter aside {
    width: calc(100% - 70%);
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    margin-left: 0px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text h1 {
    font-size: 30px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    top: 10px;
    left: calc(100% - 65%);
  }
  main .last-section .iceCream .makeCenter aside {
    height: auto;
  }
  main .last-section .iceCream .makeCenter .cardIcecream h2 {
    padding-top: 40px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    margin-bottom: 30px;
  }
  main .last-section .subscribe {
    margin-top: 0px;
  }
  main .last-section .iceCream {
    height: auto;
  }
  main .last-section {
    height: auto;
    padding-bottom: 30px;
  }
  main .cards {
    padding-bottom: 30px;
  }
  footer {
    height: auto;
  }
  footer .goingCenter .top .third p {
    font-size: 20px;
  }
  footer .goingCenter .top .second ul li a {
    font-size: 20px;
  }
  main .mainAbout {
    height: auto;
    padding-bottom: 30px;
  }
  main .mainAbout .list .list1 {
    padding: 50px 30px 30px 30px;
    width: 50%;
  }
  main .mainAbout .list .list2 {
    width: 50%;
    padding: 50px 30px 30px 30px;
  }
  main .mainAbout .list .list1 p {
    font-size: 15px;
  }
  main .mainAbout .photo img {
    width: calc(100% - 30%);
  }
  main .snackMain .makeCenter .photoImg img {
    width: calc(100% - 30%);
  }
  main .snackMain .makeCenter {
    height: 900px;
  }
  main .contactMain {
    height: calc(100%);
    padding-bottom: 30px;
  }
  main .contactMain .makeCenter .list {
    height: auto;
  }
  main .contactMain .makeCenter .list .right {
    height: auto;
  }
  main .contactMain .makeCenter .list .right span {
    margin-left: 10px;
  }
}
@media screen and (max-width: 399px) {
  header .top .right ul li a {
    margin-left: 5px;
  }
  header .bottom .right ul {
    padding: 0px;
  }
  main .banner-area .text-area h1 {
    font-size: 30px;
  }
  main .banner-area .text-area p {
    font-size: 15px;
    width: 240px;
  }
  main .banner-area .text-area button {
    width: 130px;
  }
  main .cards .card-area .card #goingDown h3 {
    margin-top: 10px;
    font-size: 20px;
  }
  main .cards .card-area .card .bottom #needChange {
    font-size: 23px;
    margin-top: 33px;
  }
  main .cards .showtime {
    width: 130px;
  }
  main .cards .tracks .cards-track .middle {
    width: 143px;
  }
  main .cards .tracks .cards-track .middle h3 {
    margin-bottom: 46px;
  }
  #goingtopp {
    font-size: 22px;
  }
  #goingtopper {
    margin-bottom: 18px;
  }
  #lowerSize {
    font-size: 18px;
  }
  #needLoowerMargin {
    margin-bottom: 12px;
  }
  main .last-section .ticket-prices .ticket {
    width: 100%;
    height: 280px;
  }
  main .last-section .ticket-prices .ticket svg {
    width: 100%;
  }
  main .last-section .ticket-prices .ticket .text .texts h2 {
    font-size: 30px !important;
  }
  main .last-section .ticket-prices .ticket .text .texts {
    height: 50px;
  }
  main .last-section .ticket-prices .ticket .text .texts h3 {
    font-size: 16px;
  }
  .myline {
    margin-bottom: 30px;
  }
  main .last-section .ticket-prices .makeCenter .ticket .text .makeCenter {
    height: 185px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text {
    width: 100%;
  }
  main .last-section .iceCream .makeCenter .middle img {
    width: 90px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream h2 {
    font-size: 19px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text h1 {
    font-size: 16px;
  }
  main .last-section .iceCream .makeCenter .left {
    width: 80px;
  }
  main .last-section .iceCream .makeCenter .middle {
    width: calc(33% + 5px);
  }
  main .last-section .iceCream .makeCenter .right {
    width: calc(auto - 90px);
  }
  main .last-section .iceCream .makeCenter {
    padding: 3px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text .myline2 {
    width: 60px;
  }
  main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
    font-size: 13px;
  }
  main .last-section .iceCream .makeCenter .middle img {
    left: calc(100% - 65%);
  }
  footer .goingCenter .top .first {
    width: 50%;
    display: inline-block;
  }
  footer .goingCenter .top .second {
    width: 135px;
  }
  footer {
    height: calc(100% + 100px);
  }
  footer .goingCenter .bottom {
    height: auto;
  }
  footer .goingCenter .top .forth {
    margin-top: 40px;
    width: 50%;
    float: right;
  }
  main .BannerArea {
    height: auto;
    padding-bottom: 30px;
  }
  main .mainAbout .list .list1 p {
    font-size: 13px;
  }
  main .mainAbout {
    height: auto;
    padding-bottom: 40px;
  }
  main .mainAbout .list .list1 {
    height: auto;
  }
  main .mainAbout .list .list2 {
    height: 592px;
  }
  main .musicMain .makeCenter .list1 .makeCenters h2 {
    font-size: 20px;
  }
  main .musicMain .makeCenter .list1 .right .makeCenters p {
    font-size: 16px;
  }
  main .musicMain .makeCenter .list1 .left .makeCenters span {
    font-size: 30px;
  }
  main .musicMain {
    height: auto;
    padding-bottom: 40px;
  }
  main .musicMain .makeCenter .list2 .list-card .name h2 {
    font-size: 12px;
  }
  main .musicMain .makeCenter .list2 .list-card .name p {
    font-size: 10px;
  }
  main .musicMain .makeCenter .list2 .list-card .time span {
    font-size: 20px;
  }
  main .musicMain .makeCenter .list2 .list-card .time .date p {
    font-size: 8px;
  }
  main .musicMain .makeCenter .list2 .list-card {
    width: 97%;
  }
  main .musicMain .makeCenter .list2 .list-card .buyButton {
    width: 200px;
  }
  #smallerFont1,
  #smallerFont2,
  #smallerFont3,
  #smallerFont4,
  #smallerFont5 {
    font-size: 10px;
  }
  main .snackMain .makeCenter .photoImg img {
    width: 200px;
  }
  main .contactMain {
    height: auto;
    padding-bottom: 30px;
  }
  main .contactMain .makeCenter .list {
    height: auto;
  }
  main .contactMain .makeCenter .list .right {
    height: auto;
  }
  main .contactMain .makeCenter .list .right span {
    margin-left: 0px;
    font-size: 11px;
  }
  main .contactMain .makeCenter .list .left form div label {
    width: auto;
  }
  main .contactMain .makeCenter .list .left form .email label {
    margin-right: 34px;
  }
  main .login-page .makeCenter .forms {
    width: auto;
  }
  main .last-section .subscribe form input::placeholder {
    font-size: 25px;
  }
}
@media screen and (max-width: 380px) and (min-width: 322px) {
  #goingtopp {
    margin-top: 25px;
  }
}
