html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
}
.active {
  color: #ff66f5 !important;
}
header {
  width: 100%;
  margin-top: 40px;
  position: absolute;
}
header .center {
  width: 90%;
  height: 130px;
  margin: auto;
}
header .top {
  width: 100%;
  height: 50px;
}
header .bottom {
  width: 100%;
  height: 50px;
  margin-top: 25px;
}
header .top .left {
  width: 250px;
  height: 50px;
  float: left;
}
header .top .right {
  height: 50px;
  float: right;
}
header .bottom .left {
  width: 250px;
  height: 50px;
  float: left;
}
header .bottom .right {
  height: 50px;
  float: right;
}
header .top .left a {
  font-size: 30px;
  color: #ff66f5;
  font-weight: 300;
  font-family: "Pacifico", cursive;
  text-decoration: none;
}
header .top .right ul li {
  display: inline-block;
}
header .top .right ul li a {
  color: #ffffff;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-weight: 100;
  margin-left: 25px;
}
header .top .right ul li a:hover {
  color: #ff66f5;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
header .bottom .line {
  margin-bottom: 30px;
  border-top: 1px solid white;
}
header .bottom .left ul {
  margin: 0px;
  padding: 0px;
}
header .bottom .left ul li {
  display: inline-block;
}
header .bottom .left ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  margin-right: 10px;
}
header .bottom .left ul li a:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
  color: #ff66f5;
}
header .bottom .right ul li {
  display: inline-block;
}
header .bottom .right ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  margin-left: 10px;
}
header .bottom .right ul li .default-image {
  color: #ff66f5;
  font-size: 18px;
}
header .bottom .right ul li .default-text {
  color: white;
  font-size: 16px;
}
header .bottom .right ul li a:hover {
  color: grey;
}

main .banner-area {
  height: 1100px;
  width: 100%;
  background: url("https://static.wixstatic.com/media/84770f_35c0b8b2d8bc4bbe9ae56d0d331f6533~mv2.jpg/v1/fill/w_1263,h_1100,al_c,q_85,usm_0.66_1.00_0.01/84770f_35c0b8b2d8bc4bbe9ae56d0d331f6533~mv2.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .banner-area .text-area {
  width: 90%;
  margin: auto;
  position: relative;
  top: 300px;
}
main .banner-area .text-area h1 {
  font-size: 90px;
  color: white;
  font-weight: 500;
  font-family: "Suez One", serif;
  margin-bottom: 20px;
}
main .banner-area .text-area p {
  color: white;
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  margin-bottom: 40px;
}
main .banner-area .text-area button {
  width: 148px;
  height: 53px;
  background-color: #ff66f5;
  border: 1px solid white;
}
main .banner-area .text-area button:hover {
  background-color: whitesmoke;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .banner-area .text-area button span {
  font-size: 18px;
  font-weight: 500;
  color: #0e0a48;
  background-color: transparent;
  font-family: "Barlow", sans-serif;
}
main .cards {
  height: 1100px;
  background-color: #3843cd;
}
main .cards .card-area {
  width: 90%;
  margin: auto;
}
main .cards .card-area .flex-boxs {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

main .cards .card-area h2 {
  font-size: 28px;
  color: white;
  font-family: "Barlow", sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
  border-bottom: 1px solid whitesmoke;
}
main .cards .card-area .card {
  margin-top: 30px;
  background-color: transparent;
  border: none;
  width: 255px;
  height: 450px;
}
main .cards .card-area .card a {
  text-decoration: none;
}
main .cards .card-area .card .top {
  width: 100%;
  height: 80%;
}
main .cards .card-area .card .top img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
main .cards .card-area .card .top img:hover {
  filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .cards .card-area .card .bottom {
  width: 100%;
  height: 20%;
}
main .cards .card-area .card .bottom h3 {
  color: white;
  font-size: 30px;
  font-family: "Suez One", serif;
  margin-top: 15px;
}
main .cards .card-area .card .bottom p {
  color: white;
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  margin-top: 10px;
}
main .cards .center-button {
  text-align: center;
  margin-top: 70px;
}
main .cards .center-button a {
  text-decoration: none;
}
main .cards .showtime {
  width: 148px;
  height: 53px;
  background-color: #ff66f5;
  border: 1px solid white;
}
main .cards .showtime:hover {
  background-color: whitesmoke;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .cards .showtime button span {
  font-size: 18px;
  font-weight: 500;
  color: #0e0a48;
  background-color: transparent;
  font-family: "Barlow", sans-serif;
}
main .cards .tracks {
  width: 90%;
  margin: auto;
}
main .cards .tracks h2 {
  font-size: 28px;
  color: white;
  font-family: "Barlow", sans-serif;
  margin-bottom: 40px;
}
main .cards .tracks .cards-track {
  border: 1px solid white;
}
main .cards .tracks .cards-track aside {
  width: 33%;
  height: 230px;
  display: inline-block;
}
main .cards .tracks .cards-track .left {
  border-right: 1px solid white;
}
main .cards .tracks .cards-track .right {
  border-left: 1px solid white;
}
main .cards .tracks .cards-track .little-text {
  width: 75px;
  height: 40px;
  border-radius: 10px;
  background-color: #0e0a48;
  margin: 40px auto;
  margin-bottom: 20px;
}
main .cards .tracks .cards-track .little-text span {
  font-size: 16px;
  color: #ff66f5;
  font-family: "Barlow", sans-serif;
  margin-top: 5px;
  background-color: transparent;
  display: inline-block;
}
main .cards .tracks .cards-track .left .little-text span {
  margin-left: 22px;
}
main .cards .tracks .cards-track .middle .little-text span {
  margin-left: 16px;
}
main .cards .tracks .cards-track .right .little-text span {
  margin-left: 10px;
}
main .cards .tracks .cards-track h3 {
  font-size: 30px;
  color: white;
  font-weight: 200;
  font-family: "Suez One", serif;
  text-align: center;
  margin-bottom: 15px;
}
main .cards .tracks .cards-track .trailer {
  width: 35%;
  margin: auto;
}
main .cards .tracks .cards-track ul {
  margin: 0px;
  padding: 0px;
}
main .cards .tracks .cards-track ul li {
  display: inline-block;
}
main .cards .tracks .cards-track ul li a {
  text-decoration: none;
}
main .cards .tracks .cards-track .trailer i {
  font-size: 20px;
  font-weight: 100;
  color: white;
}
main .cards .tracks .cards-track .trailer span {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
}
main .last-section {
  height: 2700px;
  background-color: #0e0a48;
}
main .last-section .head-text {
  font-size: 28px;
  color: white;
  font-family: "Barlow", sans-serif;
  text-align: center;
  padding-top: 100px;
}
main .last-section .makeCenter {
  margin: 50px auto;
  width: 90%;
}
main .last-section .makeCenter .flex-boxes {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
main .last-section .works-card {
  height: 500px;
  width: 25%;
}

main .last-section .works-card .top {
  height: 150px;
  width: 100%;
}
main .last-section .works-card .middle {
  height: 200px;
  width: 100%;
}
main .last-section .works-card .bottom {
  height: 100px;
  width: 100%;
}
main .last-section .works-card .headerP {
  font-size: 40px;
  color: #ff66f5;
  font-family: "Suez One", serif;
  text-align: center;
}
main .last-section .works-card .container {
  width: 120px;
  height: 1px;
  background-color: #ff66f5;
  position: relative;
}
main .last-section .works-card .circle {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: white;
  border: solid 1px black;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  left: 53px;
}
main .last-section .works-card .purple .circle {
  background: #ff66f5;
  border-color: #ff66f5;
}
main .last-section .works-card .middle {
  text-align: center;
}
main .last-section .works-card .bottom h2 {
  font-size: 26px;
  color: white;
  font-family: "Suez One", serif;
  text-align: center;
}
main .last-section .works-card .bottom p {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
main .last-section .ticket-prices .ticket {
  width: 900px;
  height: 480px;
  margin: auto;
  background-color: #ff66f5;
}
main .last-section .ticket-prices .ticket svg {
  fill: #ff66f5;
  width: 100%;
  height: 76px;
  margin-top: 55px;
}
main .last-section .ticket-prices .ticket .text .headertext {
  font-size: 28px;
  color: #0e0a48;
  font-family: "Barlow", sans-serif;
  text-align: center;
  padding-top: 40px;
  font-weight: 500;
}
.myline {
  border-top: 2px dashed black;
}
.myline2 {
  border-top: 2px dashed white;
}
main .last-section .ticket-prices .ticket .text .texts {
  width: 265px;
  height: 100px;
}
main .last-section .ticket-prices .ticket .text .texts h3 {
  text-align: center;
  font-size: 26px;
  font-family: "Suez One", serif;
}
main .last-section .ticket-prices .ticket .text .texts h2 {
  padding-top: 50px;
  font-size: 90px;
  text-align: center;
  font-family: "Suez One", serif;
}
main .last-section .iceCream {
  height: 840px;
  padding-top: 1px;
}
main .last-section .iceCream .makeCenter {
  padding-top: 0px;
  background-color: #3843cd;
  position: relative;
}
main .last-section .iceCream .makeCenter aside {
  width: 33%;
  height: 600px;
  display: inline-block;
}
main .last-section .iceCream .makeCenter .cardIcecream h2 {
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 21px;
  color: white;
  padding-bottom: 20px;
}
main .last-section .iceCream .makeCenter .cardIcecream .center-text {
  margin: auto;
  width: 60%;
}
main .last-section .iceCream .makeCenter .cardIcecream .center-text h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "Suez One", serif;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 10px;
}
main .last-section .iceCream .makeCenter .middle img {
  position: absolute;
  top: 60px;
  z-index: 10;
}
main .last-section .iceCream .makeCenter .cardIcecream .center-text button {
  background-color: transparent;
  border: 1px solid white;
  width: 165px;
  height: 55px;
  margin-left: 30px;
  margin-top: 10px;
  color: white;
}
main
  .last-section
  .iceCream
  .makeCenter
  .cardIcecream
  .center-text
  button:hover {
  background-color: white;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
  color: black;
}
main .last-section .subscribe {
  width: 90%;
  margin: 150px auto;
}
main .last-section .subscribe h2 {
  font-size: 28px;
  color: white;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
main .last-section .subscribe p {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
main .last-section .subscribe form {
  margin: auto;
  width: 900px;
}
main .last-section .subscribe form input {
  width: 100%;
  height: 100px;
  border: 1px solid #ff66f5;
  background-color: transparent;
  margin-bottom: 10px;
  color: #ff66f5;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
}
main .last-section .subscribe form input:hover {
  border: 2px solid white;
}
main .last-section .subscribe form input::placeholder {
  font-size: 30px;
  color: #ff66f5;
  text-align: center;
  font-family: "Suez One", serif;
}
main .last-section .subscribe form button {
  width: 100%;
  height: 100px;
  border: 1px solid #ff66f5;
  background-color: #ff66f5;
  font-family: "Suez One", serif;
  font-size: 30px;
  color: black;
  font-weight: 300;
}
main .last-section .subscribe form button:hover {
  border: 2px solid white;
  background-color: white;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
footer {
  background-color: #3843cd;
  height: 300px;
}
footer .goingCenter {
  margin: auto;
  padding-top: 20px;
  width: 90%;
}
footer .goingCenter .top {
  width: 100%;
  height: 80%;
}
footer .goingCenter .bottom {
  width: 100%;
  height: 20%;
}
footer .goingCenter .top .first {
  width: 30%;
  height: 150px;
  display: inline-block;
}
footer .goingCenter .top .second {
  width: 15%;
  height: 150px;
  display: inline-block;
}
footer .goingCenter .top .third {
  width: 30%;
  height: 150px;
  display: inline-block;
}
footer .goingCenter .top .forth {
  width: 20%;
  height: 150px;
  display: inline-block;
}
footer .goingCenter .top .first h2 a {
  font-size: 25px;
  color: white;
  font-family: "Pacifico", cursive;
  text-decoration: none;
}
footer .goingCenter .top .first p {
  font-size: 15px;
  color: white;
  font-family: "Barlow", sans-serif;
}
footer .goingCenter .top .second h2 {
  font-size: 25px;
  color: white;
  font-family: "Barlow", sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
}
footer .goingCenter .top .second ul {
  list-style: none;
  padding: 0px;
}
footer .goingCenter .top .second ul li a {
  font-size: 15px;
  color: white;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}
footer .goingCenter .top .third h2 {
  font-size: 31px;
  color: white;
  font-weight: 400;
  font-family: "Barlow", sans-serif;
}
footer .goingCenter .top .third p {
  font-size: 15px;
  color: white;
  font-family: "Barlow", sans-serif;
}
footer .goingCenter .top .forth .last-top {
  height: 80%;
  width: 100%;
  display: inline-block;
}
footer .goingCenter .top .forth .last-top button {
  width: 145px;
  height: 55px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
footer .goingCenter .top .forth .last-top button a {
  text-decoration: none;
  color: white;
}
footer .goingCenter .top .forth .last-top button a:hover {
  color: black;
}
footer .goingCenter .top .forth .last-top button:hover {
  background-color: white;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
  color: black;
}
footer .goingCenter .top .forth .last-bottom ul li {
  display: inline-block;
  margin-left: 20px;
}
footer .goingCenter .top .forth .last-bottom ul li a {
  color: white;
  text-decoration: none;
}
footer .goingCenter .top .forth .last-bottom ul li a i {
  font-size: 15px;
}
footer .goingCenter .bottom p {
  font-size: 15px;
  font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.342);
  text-align: center;
}
main .BannerArea {
  height: 370px;
  background-color: #252989;
}
main .BannerArea .makeCenter {
  margin: auto;
  width: 90%;
  padding-top: 200px;
}
main .BannerArea .makeCenter h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Suez One", serif;
}
main .mainAbout {
  background-color: #0e0a48;
  height: 1500px;
}
main .mainAbout .makeCenter {
  width: 90%;
  margin: auto;
}
main .mainAbout .text .first {
  padding-top: 50px;
}
main .mainAbout .text .second {
  padding-top: 25px;
}
main .mainAbout .text p {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
main .mainAbout .photo {
  text-align: center;
  margin-top: 50px;
}
main .mainAbout .list {
  margin: 80px auto;
  width: 90%;
}
main .mainAbout .list .list1 {
  padding: 100px 60px 60px 60px;
  border-top: 1px solid #ff66f5;
  border-left: 1px solid #ff66f5;
  border-bottom: 1px solid #ff66f5;
  display: inline-block;
  width: 565px;
  height: 450px;
}
main .mainAbout .list .list2 {
  padding: 100px 60px 60px 60px;
  border: 1px solid #ff66f5;
  float: right;
  width: calc(100% - 565px);
  height: 450px;
}
main .mainAbout .list .list1 h2 {
  font-size: 28px;
  color: #ff66f5;
  font-family: "Barlow", sans-serif;
  margin-bottom: 20px;
}
main .mainAbout .list .list1 p {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
}
main .mainAbout .list .list2 h2 {
  font-size: 28px;
  color: #ff66f5;
  font-family: "Barlow", sans-serif;
  margin-bottom: 50px;
}
main .mainAbout .list .list2 ul {
  padding-left: 25px;
}
main .mainAbout .list .list2 ul li {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
main .musicMain {
  width: 100%;
  height: 1600px;
  background-color: #0e0a48;
}
main .musicMain .makeCenter {
  width: 90%;
  margin: auto;
  padding-top: 80px;
}
main .musicMain .makeCenter .list1 {
  border: 1px solid #ff66f5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
main .musicMain .makeCenter .list1 .left {
  width: 50%;
  height: 290px;
}
main .musicMain .makeCenter .list1 .right {
  width: 50%;
  border-left: 1px solid #ff66f5;
  height: 290px;
}
main .musicMain .makeCenter .list1 .makeCenters {
  width: 90%;
  margin: auto;
  padding-top: 60px;
  padding-left: 40px;
}
main .musicMain .makeCenter .list1 .makeCenters h2 {
  font-size: 28px;
  color: #ff66f5;
  font-family: "Barlow", sans-serif;
  padding-bottom: 20px;
}
main .musicMain .makeCenter .list1 .left .makeCenters span {
  font-size: 40px;
  color: white;
  border: 1px solid #ff66f5;
  width: 187px;
  height: 84px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  font-family: "Suez One", serif;
}
main .musicMain .makeCenter .list1 .right .makeCenters p {
  color: white;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Barlow", sans-serif;
}
main .musicMain .makeCenter .list2 {
  margin-top: 80px;
  height: 1042px;
  border: 1px solid #ff66f5;
  padding: 1px 30px;
}
main .musicMain .makeCenter .list2 .list-card {
  width: 90%;
  margin: auto;
  padding: 30px 0px;
  border-bottom: 1px solid #ff66f5;
}
main .musicMain .makeCenter .list2 .list-card .time {
  height: 100%;
  width: 110px;
  display: flex;
}
main .musicMain .makeCenter .list2 .list-card .time .date {
  display: flex;
  flex-direction: column;
}
main .musicMain .makeCenter .list2 .list-card .time span {
  font-size: 40px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
}
main .musicMain .makeCenter .list2 .list-card .time .date p {
  font-size: 14px;
  color: white;
  font-family: "Barlow", sans-serif;
  margin: 0px;
  font-weight: 200;
  margin-left: 10px;
}
main .musicMain .makeCenter .list2 .list-card .time .date .toppeer {
  margin-top: 10px;
  color: grey;
}
main .musicMain .makeCenter .list2 .list-card .name {
  display: inline-block;
}

main .musicMain .makeCenter .list2 .list-card .time-day {
  display: inline-block;
}
main .musicMain .makeCenter .list2 .list-card .name h2 {
  font-size: 21px;
  color: white;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  font-weight: 200;
}
main .musicMain .makeCenter .list2 .list-card .name p {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  font-weight: 200;
}
main .musicMain .makeCenter .list2 .list-card .buyButton {
  float: right;
  margin-top: 17px;
}
main .musicMain .makeCenter .list2 .list-card .buyButton button {
  width: 121px;
  height: 42px;
  border: none;
  background-color: #ff66f5;
}
main .musicMain .makeCenter .list2 .list-card .buyButton button:hover {
  background-color: #ff66f562;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .snackMain {
  background-color: #0e0a48;
}
main .snackMain .makeCenter {
  width: 90%;
  margin: auto;
  padding-top: 60px;
  position: relative;
  height: 1050px;
}
main .snackMain .makeCenter p {
  font-size: 18px;
  color: white;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
main .snackMain .makeCenter .lists {
  border: 1px solid #ff66f5;
  margin-top: 60px;
  display: flex;
}
main .snackMain .makeCenter .lists h2 {
  font-size: 28px;
  color: #ff66f5;
  font-family: "Barlow", sans-serif;
  margin-bottom: 20px;
}
main .snackMain .makeCenter .lists ul {
  list-style: none;
  padding: 0px;
}
main .snackMain .makeCenter .lists ul li span {
  color: white;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
main .snackMain .makeCenter .lists article {
  width: 33%;
  height: 300px;
  border-left: 1px solid #ff66f5;
  padding: 60px 40px;
}
main .snackMain .makeCenter .photoImg {
  position: absolute;
  bottom: 0px;
  left: calc(100% - 70%);
  z-index: 10000;
}
main .contactMain {
  height: 1800px;
  background-color: #0e0a48;
}
main .contactMain .makeCenter {
  width: 90%;
  margin: auto;
}
main .contactMain .makeCenter p {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  padding-top: 20px;
  text-align: center;
}
main .contactMain .makeCenter .header-texts {
  padding-top: 40px;
}
main .contactMain .makeCenter .under-texts {
  padding-bottom: 60px;
}
main .contactMain .makeCenter .list {
  border: 1px solid #ff66f5;
  display: flex;
  height: 642px;
}
main .contactMain .makeCenter .list .left {
  width: 60%;
  height: 100%;
  padding: 60px;
}
main .contactMain .makeCenter .list .right {
  width: 40%;
  height: 100%;
  border-left: 1px solid #ff66f5;
}
main .contactMain .makeCenter .list .left form div {
  width: 560px;
  height: 100px;
  display: inline-block;
}
main .contactMain .makeCenter .list .left form div label {
  width: 49%;
  height: 20px;
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-top: 15px;
}

main .contactMain .makeCenter .list .left form div input {
  width: 49.1%;
  height: 60px;
  background-color: transparent;
  border: none;
}
main .contactMain .makeCenter .list .left form div .input {
  border: 1px solid white;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0px;
  height: 60px;
}
#firstNameInput,
#emailInput {
  border-right: 1px solid white;
  width: 50%;
  height: 58px;
}
main .contactMain .makeCenter .list .left form article label {
  width: 100%;
  height: 20px;
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
}
main .contactMain .makeCenter .list .left form article input {
  width: 100%;
  height: 110px;
  background-color: transparent;
  border: 1px solid white;
  margin-top: 15px;
}
main .contactMain .makeCenter .list .left form button {
  margin-top: 15px;
  width: 100%;
  height: 55px;
  background-color: #ff66f5;
  border: 1px solid white;
  font-size: 18px;
  color: black;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}
main .contactMain .makeCenter .list .left form button:hover {
  color: black;
  background-color: white;
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .contactMain .makeCenter .list .left form article input:hover {
  background-color: rgba(255, 255, 255, 0.096);
}
main .contactMain .makeCenter .list .left form article input:enabled {
  color: white;
  padding: 0px;
}
main .contactMain .makeCenter .list .left form div input:enabled {
  color: white;
  padding: 10px;
  border: none;
}
main .contactMain .makeCenter .list .left form div input:hover {
  background-color: rgba(255, 255, 255, 0.096);
}
main .contactMain .makeCenter .list .left form div input:focus {
  border: none !important;
  box-shadow: none !important;
}
main .contactMain .makeCenter .list .right span {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  margin-top: 250px;
  margin-left: 100px;
  display: inline-block;
}
main .contactMain .contactMap .makeCenter h2 {
  background-color: #3843cd;
  margin-top: 60px;
  padding-top: 20px;
  text-align: center;
  color: white;
  border: 1px solid #3843cd;
  font-size: 28px;
  height: 90px;
  margin-bottom: 0px;
}
main .contactMain .contactMap iframe {
  width: 100%;
  height: 600px;
  border: none;
}
main .login-page {
  height: 1000px;
  width: 100%;
  background-color: #0e0a48;
}
main .login-page .makeCenter {
  width: 90%;
  margin: auto;
}
main .login-page .makeCenter .cancel-button a {
  float: right;
  font-size: 50px;
  color: #ff66f5;
  text-decoration: none;
  padding-top: 40px;
}
main .login-page .makeCenter .forms {
  width: 305px;
  margin: auto;
  padding-top: 200px;
  text-align: center;
}
main .login-page .makeCenter .forms h2 {
  font-size: 48px;
  color: white;
  font-family: "Barlow", sans-serif;
}
main .login-page .makeCenter .forms .loginAlready {
  font-size: 18px;
  color: white;
  font-family: "Barlow", sans-serif;
  margin-bottom: 40px;
}
main .login-page .makeCenter .forms .loginAlready a {
  color: #ff66f5;
  text-decoration: none;
}
main .login-page .makeCenter .forms .social a {
  width: 300px;
  height: 48px;
  color: white;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: 500;
}
main .login-page .makeCenter .forms .social a:hover {
  background-color: rgba(255, 255, 255, 0.151);
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
}
main .login-page .makeCenter .forms .social a span {
  float: left;
  font-size: 30px !important;
  margin-left: 10px;
}
main .login-page .makeCenter .forms .social a p {
  display: inline-block;
  text-align: center;
  width: calc(100% - 60px);
  margin-top: 10px;
}
main .login-page .makeCenter .forms .social .facebook {
  background-color: #3b5998;
}
main .login-page .makeCenter .forms .social .google {
  background-color: #4285f4;
}
main .login-page .makeCenter .forms .lineWithWord {
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  color: white;
  font-weight: 300;
}
main .login-page .makeCenter .forms .lineWithWord::before,
.lineWithWord::after {
  background-color: #23268a;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
main .login-page .makeCenter .forms .lineWithWord::before {
  right: 0.5em;
  margin-left: -50%;
}
main .login-page .makeCenter .forms .lineWithWord::after {
  left: 0.5em;
  margin-right: -50%;
}
main .login-page .makeCenter .forms .confirmRegister {
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid #23268a;
  margin-bottom: 40px;
  color: white;
}
main .login-page .makeCenter .forms .confirmRegister:hover {
  border: 1px solid white;
}
main .login-page .makeCenter .forms .checkBox {
  color: white;
  font-size: 15px;
  font-family: "Barlow", sans-serif;
}
main .login-page .makeCenter .forms .checkBox input {
  margin-right: 5px;
}
main .login-page .makeCenter .forms .checkBox a {
  padding-left: 5px;
  color: #ff66f5;
  text-decoration: underline;
}
main .login-page .makeCenter .forms form div label {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #8d93de;
  text-align: start;
}
main .login-page .makeCenter .forms form div input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #23268a;
  height: 30px;
  margin-bottom: 20px;
}
main .login-page .makeCenter .forms form div input:enabled {
  color: white;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
}
main .login-page .makeCenter .forms form div input:hover {
  border-bottom: 1px solid #ff66f5;
}
main .login-page .makeCenter .forms form .signInregister {
  width: 100%;
  height: 48px;
  color: white;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  background-color: #ff66f5;
  border: none;
}
main .login-page .makeCenter .forms form .signInregister:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
  color: black;
}
main .login-page .makeCenter .forms .icons a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}
main .login-page .makeCenter .forms .icons a:hover {
  color: #ff66f5;
}
main .login-page .makeCenter .forms form .forgotPassword {
  color: white;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  float: left;
  margin-bottom: 10px;
}
main .login-page .makeCenter .forms form .forgotPassword:hover {
  border-bottom: 1px solid #ff66f5;
  text-decoration: none;
}
main .login-page .makeCenter .forms .emailss label {
  display: inline-block;
  width: 100%;
  font-size: 18px;
  color: #8d93de;
  text-align: start;
}
main .login-page .makeCenter .forms .emailss input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #23268a;
  height: 30px;
  margin-bottom: 20px;
}
main .login-page .makeCenter .forms .emailss input:hover {
  border-bottom: 1px solid #ff66f5;
}
main .login-page .makeCenter .forms form .passwordButtonCreate {
  width: 100%;
  height: 48px;
  background-color: #ff66f5;
  border: none;
  color: white;
  font-family: "Barlow", sans-serif;
}
main .login-page .makeCenter .forms form .passwordButtonCreate:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: 1s;
  color: black;
}
main .login-page .makeCenter .forms .renewPassword {
  font-size: 30px;
  color: white;
  font-family: "Barlow", sans-serif;
}
